<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="git.yampery.cryptic.dao.UserDao">
  <resultMap id="BaseResultMap" type="git.yampery.cryptic.pojo.TUser">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <insert id="insert" parameterType="git.yampery.cryptic.pojo.TUser">
    insert into T_USER (user_name, phone
      )
    values (#{userName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="git.yampery.cryptic.pojo.TUser">
    insert into T_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="queryList" resultType="git.yampery.cryptic.pojo.TUser">
    SELECT * FROM T_USER
    <where>
      <if test="id != null">
        and id = #{id},
      </if>
      <if test="userName != null">
        and user_name = #{userName},
      </if>
      <if test="phone != null">
        and phone = #{phone}
      </if>
    </where>
  </select>
</mapper>